<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sneaker</title>
</head>
<body>

    <div>
        <button><a href="/">Home</a></h3></button>
        <button><a href="sneakers/inventory">Inventory</a></button>
        <button><a href="/Jordan">Search Inventory</a></button>
        <button><a href="sneakers/new">Add Sneaker</a></button>

        
    </div>


   <section>
       <h1>Edit <%= Sneaker.style %></h1>

       <div>


        <form action="/sneakers/<%= Sneaker._id %>?_method=PUT" method="POST">

            Name:  <input type="text" name="style" value="<%= Sneaker.style %>"/>
    
        </br>
    
            Size: <input type="text" name="size" value="<%= Sneaker.size %>"/>
    
        </br>
    
            Condition: <input type="text" name="condition" value="<%= Sneaker.condition %>"/>
        
        </br>
    
            <input type="submit" value="Update" />
    
        </form>
    </div>
   </section>

    
</body>
</html>