<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOAT APP</title>
</head>
<body>

    <h1>WOAT!</h1>

    <div class="right-nav">
        <button><a href="/">Home</a></h3></button>
        <button><a href="/sneakers/inventory">Inventory</a></button>
        <button><a href="/sneakers/new">Add Sneaker</a></button>

        
    </div>

<main>
    <section>
        <h1><%= Sneaker.style %> INFO</h1>
    <div class="sneaker-info">
         <img src="<%= Sneaker.image %>" alt="image">
        
        <ul>
            <li>Style: <%= Sneaker.style %></li>
            <li>Size: <%= Sneaker.size %></li>
            <li>Condition: <%= Sneaker.condition %></li>

        </ul>

    </div>

    </section>
<div class="show-btns">
  <button class="edit-btn"><a id="edit-id" href="/sneakers/<%= Sneaker._id %>/edit">Edit</a></button>
    
    <form id="delete-id" action="/sneakers/<%= Sneaker._id %>?_method=DELETE" method="POST">
        <input class="update-btn" type="submit" value="Delete"/>
    </form>
</div>



    <div class="splide" data-splide='{"type":"loop","perPage":3}'>
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide"><img class="show-img" src="/images/pexels-antonio-dillard-4462781.jpg" alt=""></li>
			<li class="splide__slide"><img class="show-img" src="/images/pexels-jordan-hyde-1032110.jpg" alt=""></li>
			<li class="splide__slide"><img class="show-img" src="/images/pexels-mstudio-1240892.jpg" alt=""></li>
            <li class="splide__slide"><img class="show-img" src="/images/pexels-ankur-bagai-1280064.jpg" alt=""></li>
			<li class="splide__slide"><img class="show-img" src="/images/pexels-guillermo-arroyo-2225727.jpg" alt=""></li>
			<li class="splide__slide"><img class="show-img" src="/images/pexels-jordan-hyde-1031955.jpg" alt=""></li>
            <li class="splide__slide"><img class="show-img" src="/images/pexels-melvin-buezo-2529148.jpg" alt=""></li>
			<li class="splide__slide"><img class="show-img" src="/images/pexels-mnz-1598505.jpg" alt=""></li>
			<li class="splide__slide"><img class="show-img" src="/images/pexels-mohammad-khan-5470891.jpg" alt=""></li>
            <li class="splide__slide"><img class="show-img" src="/images/pexels-suraj-b-2759779.jpg" alt=""></li>
        </ul>
	</div>
</div>
<!-- Alternative Video we had for background of Show page -->
<!-- <div class="video2">
        <video width="1320" height="800" autoplay loop controls>
            <source src="/Pexels Videos 2085087.mp4" type="video/mp4"/>
        </video>
    </div>
-->
</main>
</body>
<script>
	new Splide( '.splide' ).mount();
</script>
</html>







/*
.splide__track{
    max-height: 600px;
}
.splide{
    max-height: 600px;
    max-width: 600px;
    margin: auto;
}
*/
.show-img{
    width:600px;
    height: 600px;
    object-fit: cover;
}